@use 'common/var' as *;
@use 'mixins/mixins' as *;

.hidden {
  @each $break-point-name, $value in $breakpoints-spec {
    &-#{$break-point-name} {
      @include res($break-point-name, $breakpoints-spec) {
        display: none !important;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 376px) and (max-width: 1599px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 2047px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 2048px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 2048px) {
  html {
    font-size: 18px;
  }
}
