.icon-wrapper {
  font-size: var(--font-size-6);
  color: inherit;
  display: inline-flex;
  align-items: center;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  line-height: 0;
  vertical-align: middle;
}
