@import '@/assets/style/theme.scss';
@import '@/assets/style/display.scss';

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color-0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

/* Alternative custom animation style */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}
html[data-theme='dark']::view-transition-old(root) {
  z-index: 9999999;
}

#error-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color-0);
}

//超出两行省略号
.ellipsis-2-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.drag-preview {
  position: absolute;
  left: 9999px;
  top: -9999px;
  z-index: -999;

  img {
    width: 240px;
    height: 130px;
    border-radius: 6px;
  }

  .count {
    position: absolute;
    top: -10px;
    left: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}

.custom-modal {
  .ant-modal-header {
    text-align: center;

    .ant-modal-title {
      font-size: 18px;
    }
  }
  .ant-modal-footer {
    display: flex;

    button {
      flex: 1;
    }

    .ant-btn-default {
      --ant-button-default-bg: transparent;
      --ant-button-default-hover-bg: var(--grey-color-4);
      --ant-button-default-hover-border-color: transparent;
      --ant-button-default-hover-color: var(--text-color-1);
      --ant-button-default-color: var(--text-color-1);
      --ant-button-default-border-color: var(--bg-color-2);
    }

    .ant-btn-primary {
      --ant-button-primary-color: var(--text-color-0);
      --ant-color-text-light-solid: var(--text-color-1);
    }
  }
}
