.video-chat {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px 20px 20px 20px;

  &__list {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__search {
      padding-right: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .search-input {
        width: 68%;
        display: flex;
        border: 1px solid var(--grey-color-1);
        border-radius: 99px;
        overflow: hidden;

        .ant-select-auto-complete {
          flex: 1;
        }

        .ant-input-outlined {
          color: var(--text-color-1);
          border: none;
          border-radius: 0;
          background-color: transparent;

          .search-icon {
            color: var(--text-color-1);
          }

          input::placeholder {
            color: var(--text-color-2);
          }

          &:hover {
            border-color: inherit;
          }
          &:focus,
          &:focus-within {
            border-color: inherit;
            box-shadow: none;
          }
        }

        .ant-select {
          .ant-select-clear {
            color: var(--text-color-1);
          }
          &:hover .ant-select-clear {
            color: var(--text-color-1);
            background-color: transparent !important;
          }
        }

        .ant-select-selector {
          color: var(--text-color-1);
          border: none;
          border-radius: 0;
          background-color: transparent;
          .ant-select-selection-item {
            color: var(--text-color-1) !important;
          }
        }
        .ant-select-arrow {
          color: var(--text-color-1);
        }

        .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
          border-color: inherit;
        }
        .ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
          .ant-select-selector {
          box-shadow: none;
          border-color: inherit;
        }
      }
    }

    &__content {
      flex: 1;
      overflow: hidden;
    }
  }

  &__chat {
    position: relative;
    .resize-box {
      width: 2px !important;
      left: 0 !important;
      &:hover,
      &:active {
        background-color: var(--brand-color-4);
      }
    }
  }

  @include break-point('sm-and-down') {
    &__chat {
      width: 100% !important;
    }
  }
}

@include break-point('sm-and-down') {
  .video-chat {
    padding: 10px;
  }
}

.input-sug-popup {
  background-color: var(--bg-color-0);
  .ant-select-item {
    color: var(--text-color-1);
  }

  .ant-select-item-option-active {
    background-color: var(--bg-color-2) !important;
  }
}
